.placement-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #a7c4bc;
  align-items: center;
  margin-bottom: 0.5rem;
  /* margin-right:1rem; */
  border-radius: 0 1rem 1rem 0;
  height: 5rem;
}
.adminApplyButton {
  font-size: 1rem;
  font-family: karla;
  color: #fff;
  border-radius: 1rem;
  width: 8rem;
  padding: 0.8rem;
  margin: 0 0.8rem;
  background-color: #0a1d37;
}
.removeButton {
  font-size: 1rem;
  font-family: karla;
  color: #fff;
  border-radius: 1rem;
  width: 12rem;
  padding: 0.8rem;
  margin: 0 0.8rem;
  background-color: #0a1d37;
}
.opportunity-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.opportunity-info .img-container img {
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
}
.opportunity-info .info {
  height: 5rem;
  padding: 0.5rem 1rem 1rem;
  /* background-color:red; */
}
.info .company {
  font-size: 1.5rem;
  font-weight: 600;
}
.info p {
  margin: 0;
  padding: 0;
}
.btn-container{
  display: flex;
  align-items:center
}
@media (max-width: 768px){
  .removeButton {
  font-size: 0.8rem;
  font-family: karla;
  color: #fff;
  border-radius: 1rem;
  width: 11.5rem;
  padding: 0.7rem;
  margin: 0 0.8rem;
  background-color: #0a1d37;
}
}