.dash-container{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    background-image: radial-gradient(ellipse at left bottom,#053742 0%,  #5F939A 59%,#E8F0F2 100%);
}
.dash-container
.dash-container .dash-heading p span{
    font-size:5rem;
}
.dash-container .dash-heading p{
    font-size:2rem;
    font-family:karla;
    color:#fff;
}
.dash-container .dash-heading h1{
    font-size: 3rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#F2EDD7
}
.dash-container .dash-heading{
    margin-top:2rem;
}
.dash-container .dash-btn-container{
    margin: 10rem;
}
.dash-container .dash-btn-container button{
    font-size: 2rem;
    font-family: karla;
    color:#fff;
    border-radius: 1rem;
    width: 20rem;
    padding: 1.5rem 2rem;
    margin: 1rem 3rem;
    background-color:#0A1D37;
}
@media (max-width: 576px){
    .dash-container .dash-btn-container button{
    font-size: 2rem;
    font-family: karla;
    color:#fff;
    border-radius: 1rem;
    width: 20rem;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    background-color:#0A1D37;
}
}