@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

button {
  background: transparent;
  border: none;
  outline: none;
}
.header__logo {
  width: 5rem;
  height: 5.5rem;
}
.nav-link {
  font-size: 1.1rem;
  font-weight: 600;
}

/* @media only screen and (max-width: 620px){
    .bsnav li button{
        font-size:0.8rem;
    }
} */
.header {
  height: 80vh;
  margin: 5rem 0 0;
  background-image: linear-gradient(to right bottom, #383e56d1, #1687a7d1),
    url("../../assets/pcell.jpg");
  background-size: cover;
  background-position: top;
  /* position: relative; */
}
/* @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) or
  (-webkit-clip-path: polygon(0 0)) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }
} */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  only screen and (min-width: 125em) {
  .header {
    background-color: red;
    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(#383e56),
        to(#1687a7)
      ),
      url("../../assets/pcell.jpg");

    background-image: linear-gradient(to right bottom, #383e56, #1687a7),
      url("../../assets/pcell.jpg");
  }
}
.header__text-box {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (max-width: 576px) {
  .header__text-box {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 2rem;
}
.heading-primary--main {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  -webkit-animation-name: moveInLeft;
  animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 2.5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
  font-family: karla;
  margin: 1rem 0 0;
  -webkit-animation: moveInRight 1s ease-out;
  animation: moveInRight 1s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
  }
}
.landing-about {
  padding: 2rem;
}
.landing-about h1 {
  font-weight: 650;
  background: linear-gradient(to top right, #383e56, #1687a7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.4rem;
  text-align: center;
  margin: 3rem 0 4rem;
}
.margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.heading-tert {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.landing-about .about {
  padding: 0 2rem;
  margin: 3rem 0;
  font-family: karla;
  color: #666;
}
.paragraph {
  font-size: 1.2rem;
  text-align: justify;
}
.faculty {
  width: 80%;
  margin: auto;
}
@media (max-width: 576px) {
  .faculty {
    width: 100%;
    margin: auto;
  }
}

.main-landing-content {
  background-color: #f2f2f2;
  margin: auto;
  margin-top: -5rem;
  margin-bottom: 2rem;
  /* margin: 50px; */
  width: 98%;

  border-radius: 10px;
  box-shadow: -1px 5px 10px 2px #88888888;
  z-index: 1000;
}
@media screen and (max-width: 576px) {
  .main-landing-content {
    background-color: #f2f2f2;
    margin: auto;
    margin-top: -5rem;
    margin-bottom: 2rem;
    width: 95%;
    border-radius: 10px;
    box-shadow: -1px 5px 10px 2px #88888888;
    z-index: 1000;
  }
}

/*
Responsive Footer - Contact bar with animated icons
Code: Marco Natolli
Hire me: marconatolli@gmail.com
Note: remove .centroassoluto before adding to your page
*/

p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .ftC {
    float: left;
    display: flex;
    flex-direction: COLUMN;
    justify-content: space-around;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: calc(30vh);
    min-height: calc(30vh);
    background-color: #f3f3f3;
  }
}

@media only screen and (max-width: 768px) {
  .ftC {
    display: flex;
    flex-direction: COLUMN;
    justify-content: space-around;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 50vh;
    min-height: 50vh;
    background-color: #f3f3f3;
  }
}

.ftC a {
  color: #808080;
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .sparisci {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .sparisci {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .sparisci2 {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .sparisci2 {
    display: block;
  }
}

.ftC p {
  margin: 0px;
  color: #808080;
}

.ftcontatti {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .colonnacontatti {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .colonnacontatti {
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .orizcontatti {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .orizcontatti {
    display: flex;

    justify-content: space-around;
  }
}

.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 2px;
  transition: stroke-dashoffset 0.8s ease, opacity 0.5s ease;
}

.stroke-under {
  stroke-dashoffset: 00;
  stroke-dasharray: 300;
  stroke-width: 1px;
}

.st0 {
  fill: #808080;
  display: inline-block;
  border: 0;
  position: absolute;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform-origin: 50% 50%;
  transform: scale(1);
}

#play:hover .stroke-solid {
  opacity: 1;
  stroke-dashoffset: -300;
}

#play:hover .st0 {
  fill: #202020;
  -webkit-transition: all 100ms ease-in;
  -webkit-transform: scale(1.05);
  -ms-transition: all 100ms ease-in;
  -ms-transform: scale(1.05);
  -moz-transition: all 100ms ease-in;
  -moz-transform: scale(1.05);
  transition: all 100ms ease-in;
  transform-origin: 50% 50%;
  transform: scale(1.05);
}

#play {
  cursor: pointer;
}

.orizcont {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.vl {
  border-left: 1px solid #dadada;
}
.ol {
  border-top: 1px solid #dadada;
  width: 100%;
}

.fill-height-or-more {
  min-height: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.fill-height-or-more > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .ol {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .vl {
    display: none;
  }
  .orizcont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .fill-height-or-more > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .fill-height-or-more {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-around;
  }
}
.some-area {
  padding-left: 10px;
  padding-right: 10px;
}
