.placement-main-container {
  margin: 0.8rem ;
  display: flex;
  flex-direction:column;
  align-items: center;
  background:#fff;
}
.placement-main-container div .applyButton {
  text-decoration: none;
  font-size: 1rem;
  font-family: karla;
  color: #fff;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin: 0 0.5rem;
  background-color: #0a1d37;
}
a.applyButton:hover{
  text-decoration: none;
  color: #fff;
}
.opportunity-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.opportunity-info .img-container img {
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
}
.opportunity-info .info {
  height: 5rem;
  padding: 0.5rem 1rem 1rem;
}
.info .company {
  font-size: 1.5rem;
  font-weight: 600;
}
.info p {
  margin: 0;
  padding: 0;
}
.placement-main-container .buttons{
  padding: 0.8rem 0;
}
.placements{
  width: 100%;
  display: flex;
  align-items:flex-start;
  justify-content:space-around;
  align-content:center;
  margin:auto
}