.profile-container p {
  font-size: 2rem;
  padding: 1rem;
  font-weight: 700;
}
.profile-container {
  display: flex;
  flex-direction: column;
}
.profile-image {
  width: 8rem;
  height: 8rem;
  align-self: flex-end;
  padding: 1rem;
}
.profile-image img {
  width: 100%;
  height: 100%;
}
.profile-edit-button {
  position: relative;
  width: 80%;
  bottom: 15px;
  right: -20px;
  text-align: right;
}
.profile-edit-button img {
  width: 30%;
}
.profile-container .logout {
  display: inline;
  padding: 1rem;
  background: #053742;
  border-radius: 1rem;
  margin: 2rem 1rem;
  width: 30%;
  font-size: 1.2rem;
  font-weight: 600;
  color: #eeeeee;
}
.form-container {
  padding: 0 1rem;
}

.profile-container h4{
    font-family: karla;
    padding:1rem 0 0.1rem;
}
.profile-container input{
    padding:5px;
    outline:none;
    background:transparent;
    border:none;
    border-bottom: 1px solid darkblue;
    font-size:1.25rem;
    width: 50%;
}
.form-container select{
    font-size: 1.25rem;
}

.profile-button-container{
  width:50%;
  display:flex;
  padding: 0 2rem;
  justify-content: space-between;
}
.profileInput{
  display:none;
}
.profile-img{
  border-radius: 50%;
}
@media (max-width: 576px){
  .profile-button-container{
    width: 100%;
  }
}